{% extends "index_main.njk" %}
{% block pageMain %}
  <div class="content">
    <h2 id="the-foundation" class="content-subhead">
      {{ title }}
    </h2>
    <div class="table-responsive">
      <ul>
        {% for author, authordata in authors | dictsort %} 
          <li>
            <a href="{{rootRelativePath}}/{{ authorsOutDir }}/{{authordata.urlSafe}}/index.html">{{author}}</a>
          </li>
          {# <td><a href="{{rootRelativePath}}/{{book.ownRelativePathFromRoot}}">{{ book.title }}</a></td> #}
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock pageMain %}