{% extends "main-parent.njk" %}
{% block pageMain %}
  <div class="content">
    <h2 id="the-foundation" class="content-subhead">
      {{ taxonomyValue }} könyvei
    </h2>
    <div class="table-responsive">
      <ul>
        {% for authorbook in collections.authors[taxonomyValue] %}
          <li>
            <a href="{{rootRelativePath}}/{{authorbook.ownRelativePathFromRoot}}">{{ authorbook.title }}</a> ({{ authorbook.pubdate }})
          </li>
          {# <td><a href="{{rootRelativePath}}/{{book.ownRelativePathFromRoot}}">{{ book.title }}</a></td> #}
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock pageMain %}