{% extends "main-parent.njk" %}
{% block pageMain %}
  <div class="content">
    <h2 id="the-foundation" class="content-subhead ul-centered">
      {{ title }}
    </h2>
    <div class="table-responsive">
      <ul class="ul-centered">
        {% for author, authordata in collections.authors | dictsort %} 
          <li class="with-some-padding">
            <a class="bgchanger font-bigger" href="{{rootRelativePath}}/{{authordata.file.ownRelativePathFromRoot}}">{{author}}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock pageMain %}