{% extends "main-parent.njk" %}
{% block pageMain %}
  <div class="content">
    <div id="book-title">
    <h2 class="content-subhead">
      {% for author in authors %}
        {{author.name}}{{"," if not loop.last }}{{":" if loop.last }}
      {% endfor %}
      {{ title }}
    </h2>
    </div>
    <div id="book-content">
      {{ contents | safe }}
    </div>
    <div id="book-links">
      <hr>
      <ul class="ul-custom">
        <li class="with-some-padding font-bigger">Letöltés:</li>
      {% for type, url in downloadUrls %}
        <li class="with-a-few-padding"><a class="font-bigger" href="{{url}}">{{type | upper}}</a></li>
      {% endfor %}
      </ul>
    </div>
  </div>
{% endblock pageMain %}