{% extends "index_main.njk" %}
{% block pageMain %}
  <div class="content">
    <h2 class="content-subhead">
      {% for author in authors %}
        {{author.name}}{{"," if not loop.last }}{{":" if loop.last }}
      {% endfor %}
      {{ title }}
    </h2>
    {{ contents | safe }}
  </div>
{% endblock pageMain %}