{% extends "book-table.njk" %}
{% block tableBody %}
{% for book in collections.books | filterAttrHasValue("type", "facsimile") | sortAccented(false, 'ppeknum') %}
  <tr>
    <td>{{book.ppeknum}}.</td>
    <td>
      {% for author in book.authors %}
        <a href="{{rootRelativePath}}/{{collections.authors[author.name].file.ownRelativePathFromRoot}}">{{author.name}}</a>{{"," if not loop.last }}
      {% endfor %}
    </td>
    <td><a href="{{rootRelativePath}}/{{book.ownRelativePathFromRoot}}">{{ book.title }}</a></td>
  </tr>
{% endfor %}
{% endblock tableBody %}