{% extends "main-parent.njk" %}
{% block pageMain %}
  <div class="content">
    <h2 id="the-foundation" class="content-subhead">
      {{ title }}
    </h2>
    <div class="table-responsive">
    <table class="pure-table">
      <thead>
          <tr>
              <th>PPEK szám</th>
              <th>Szerző</th>
              <th>Cím</th>
          </tr>
      </thead>
      <tbody>
        {% for book in collections.books | sortAccented(false, 'ppeknum') %}
          <tr>
            <td>{{book.ppeknum}}.</td>
            <td>
              {% for author in book.authors %}
                <a href="{{rootRelativePath}}/{{collections.authors[author.name].file.ownRelativePathFromRoot}}">{{author.name}}</a>{{"," if not loop.last }}
              {% endfor %}
            </td>
            <td><a href="{{rootRelativePath}}/{{book.ownRelativePathFromRoot}}">{{ book.title }}</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>
  </div>
{% endblock pageMain %}